@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>

<head>
    <title>My To-Do List!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>

<body>
    <h1>Favorite Traveling Photos</h1>
    <ul>
        <li><img src='~/img/portland.jpeg' /></li>
    </ul>
</body>

</html>